<h4 class="title"> {{isEdit? 'Edit recipe': 'Add new recipe'}} </h4>
<form class="form" [formGroup]="recipeForm"  (ngSubmit)="saveRequest()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      id="name"
      class="form-control"
    />
    <small
      *ngIf="fieldHasError('name', 'required')"
      class="form-text invalid-form-text"
    >
      Enter a name of dish!
    </small>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      formControlName="description"
      id="description"
      class="form-control"
    ></textarea>

    <small
      *ngIf="fieldHasError('description', 'required')"
      class="form-text invalid-form-text"
    >
      Enter a description of dish!
    </small>
  </div>
  <div class="form-group">
    <label for="image">Add image</label>
    <input
      type="text"
      formControlName="image"
      id="image"
      class="form-control"
    />
    <small
      *ngIf="fieldHasError('image', 'required')"
      class="form-text invalid-form-text"
    >
      Enter a url for an image of dish!
    </small>
  </div>
  <div class="form-group">
    <label for="ingredients">Ingredients</label>
    <textarea
      formControlName="ingredients"
      id="ingredients"
      class="form-control"
    ></textarea>
    <small
      *ngIf="fieldHasError('ingredients', 'required')"
      class="form-text invalid-form-text"
    >
      Enter an ingredients!
    </small>
  </div>
  <label><b>Steps for recipe</b></label>
  <button class="btn btn-primary" type="button"  (click)="addSteps()">Add steps</button>
  <div style="margin-left: 15px" class="form-group" formArrayName="steps"
       *ngFor="let recipeControl of getRecipes(); let i = index">
    <div [formGroupName]="i" class="form-check-inline">
      <label for="stepImage">Add step image</label>
      <input
        type="text"
        formControlName="stepImage"
        id="stepImage"
        class="form-control"
      />
      <small
        *ngIf="fieldHasError('stepImage', 'required')"
        class="form-text invalid-form-text"
      ></small>
      <label style="margin-left: 10px">Description of step</label>
      <textarea
        formControlName="stepDesk"
        id="stepDesk"
        class="form-control"
      ></textarea>
      <small
        *ngIf="fieldHasError('stepDesk', 'required')"
        class="form-text invalid-form-text"
      ></small>
    </div>
  </div>

  <button [disabled]="recipeForm.invalid"
    class="btn btn-primary"
    type="submit">{{isEdit ? 'Edit' : 'Add'}}</button>
</form>
