<h4>Recipes</h4>

<ng-container *ngIf="!loading; else loadingSpinner">
  <app-one-recipe
    *ngFor="let recipe of recipes"
    [recipe]="recipe"
  ></app-one-recipe>
</ng-container>

<ng-template #loadingSpinner>
  <div *ngIf="loading" class="spinner-border">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
