
<div class="card" >
  <h2>Recipe details: </h2>
  <div class="card-text">Recipe name: <b>{{recipe.name}}</b></div>
  <img [src]="recipe.image" class="card-img-top" alt="{{recipe.name}}"  style="max-width: 400px; max-height: 400px">
  <div class="card-body">
    <p class="card-text">Description:{{recipe.description}}</p>
    <div class="card-text">Ingredients needed: {{recipe.ingredients}}</div>
     <h3><b>Steps to do: </b></h3>
    <div class="card-text" *ngFor="let onerecipe of recipe.steps; let i = index">
     <img [src]="onerecipe.stepImage" style="max-width: 200px; max-height: 200px">
      <div> <b>{{i + 1}}</b>:{{onerecipe.stepDesk}}</div>
    </div>
  </div>
  <div><a class="btn btn-secondary" [routerLink]="['edit']" >Edit</a></div>
</div>

