<div class="card mb-2" style="width: 500px">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <img
        [src]="recipe.image" alt="{{ recipe.name }}"
        style="max-width: 100%"
      />
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text small">{{ recipe.description }}</p>
        <a class="btn btn-secondary" [routerLink]="[recipe.id, 'info']" >Full info</a>&nbsp;
        <button class="btn btn-danger" (click)="deleteRecipe()">Delete</button>
      </div>
    </div>
  </div>
</div>

